@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-poppins: "Poppins", sans-serif;
}


.feature{
  font-weight: bold;
}

.section-divider{
    width: 70%;
    margin: auto;
    margin-top: 15rem;
    border: none;
    border-top: 10px solid black;
    border-radius: 20px;
    border-color: #616161;
}

h1{
  font-family: Pacifico;
}

p, li{
  font-family: Poppins;
}

.description{
  font-size: 2rem;
  max-width: 700px;
  text-align: justify;
}

.welcome-msg{
  font-size: 3rem;
}

.spotify-logo {
  border-radius: 20px;
}

.spotify-logo img{
  width: 40px;
  height: 40px;
}

.footer img{
  width: 40px;
  height: 40px;
}